@font-face {
  font-family: 'StratosSkyeng';
  src: local('StratosSkyeng'),
    /* Если не получилось, загрузит woff2 */
      url('../fonts/stratosskyengweb-regular.woff2') format('woff2'),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url('../fonts/stratosskyengweb-regular.woff2') format('woff');
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #004980;
  font-family: 'StratosSkyeng';
}

.app {
  margin-top: 22px;
  margin-left: 23px;
  margin-right: 23px;
}

.choose-wrap {
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 15%;
}

.choose__title {
  text-align: center;
  color: #004980;
  margin-top: 25px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  width: 208px;
}

.choose__link {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080c1;
  text-decoration: none;
}

.choose__btn {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 67px;
  cursor: pointer;
}

.choose__link-bg {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.choose__link-wrap {
  background-color: white;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.choose__link-wrap:hover {
  transform: scale(1.2);
}

/* Стили для Таймера */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.timers {
  display: flex;
  color: white;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
}

.timers__btn {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  border: none;
  color: white;
  background: #7ac100;
  border-radius: 12px;
  width: 246px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Оформление карт */

.game__card-back:hover {
  scale: 1.1;
}

.game__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
}

.btn__card {
  width: 95px;
  height: 133px;
  background: #e4fbff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn__card:hover {
  scale: 1.1;
}

.success {
  pointer-events: none;
}
